api.env
.env
*.env
!api_template.env
venv/
.venv/

*.db
.vscode/
.idea/
.DS_Store
Thumbs.db


docs/
data/raw/adzuna_raw.xlsx
data/ESCO/Unused_Extra/
src/skills_extraction/test.py
Test_Code/

__pycache__/
*.pyc